<div class="from_family settings">
  <h2>Приглашены в семью</h2>
  <% if invite_list.present? %>
    <% invite_list.each do |invite| %>
      <%= render "invites/invite", name: invite.name_for_family, can_manage: false %>
    <% end %>
  <% else %>
    Нет приглашений
  <% end %>
</div>