<div class="<%= @money_operation.is_spent ? "spend" : "income" %>_block">
  <%= content_tag(:h1, (@money_operation.is_spent ? "Новая трата" : "Новое поступление")) %>
  <%= render "money_operations/form", operation: @money_operation %>
</div>