// Place all the styles related to the all project but not to the defined controller
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.invite {
  display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #AAAAAA;
  border-color: #555555;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  padding: 10px;
  margin: 5px;

}
