// Place all the styles related to the all project but not to the defined controller
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.invite {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #AAAAAA;
  border-color: #555555;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  padding: 3px;
  margin: 1px;
  font-size: 12px;

  a.action_button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0px;
    padding: 0px;
  }
}

div.block_half {
  display: inline-block;
  width: 45%;
  border-style: none;
}