// Place all the styles related to the all project but not to the defined controller
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#select_period {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: inherit;
  border-color: #FFA203;
  border-width: 1px 1px 1px 1px;
  border-style: solid;

  display: inline-block;
  padding: 3px;
  font-family: "Sans";
  color: #000000;
  font-size: 16px;
  font-weight: bold;

  select {
    width: 175px;
  }
}

input.datepicker[type=text] {
  width: 100px;
  background-color: #FFFFFF;
}

input.datepicker[type=text]:disabled {
  width: 100px;
  background-color: #d3d3d3;

}
