// Place all the styles related to the all project but not to the defined controller
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  td.align_right {
    text-align: right;
  }
}

table.input_row {

  td {
    vertical-align: top;
  }
  textarea {
    width: 300px;
    height: 50px;
  }
}


table.grid {
  margin-top: 10px;
  border-spacing: 0px;
  border-style: none;

  th {
    background-color: #FFD800;
    border: 2px;
    border-color: #FFA203;
    border-style: solid;
    margin-right: 10px;
  }

  tr {
    font-size: 12px;
    td {
      border: 1px;
      border-style: solid;
      margin-right: 0px;
    }
  }
  tr.spend td {
    background-color: #F5FF64;
    border-color: red;
  }
  tr.income td {
    background-color: #00ff32;
    border-color: #00a320;
  }

}

