<p>Привет, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на смену вашего пароля, и вы можете это сделать по нижеследующей ссылке.</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы ничего не запрашивали, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не поменяется, пока вы не зайдёте по ссылке и не введёте новый.</p>
