<p>Привет, <%= @resource.email %>!</p>

<p>Ваша учётная запись была заблокирована за превышения лимита попыток входа в систему.</p>

<p>Кликните по этой ссылке для разблокирования учётной записи:</p>

<p><%= link_to 'Разблокировать мою учётную запись', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
