<div class="main_content">
  <%= link_to "Простой отчёт", single_reports_path, class: "report_button" %>
  <%= link_to "Сравнительный отчёт", "#", class: "report_button" %>
  <%= link_to "Динамический отчёт", "#", class: "report_button" %>
</div>